@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300&display=swap');

* {
  padding: 0px;
  margin: 0px;
  /* overflow-x: hidden; */
}

html {
  scroll-behavior: smooth;
  
}

/**************************************Navbar Started/**************************************/
nav {
  width: 80%;
}

.sidebar {
  /* display: none; */
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  position: fixed !important;
  background-color: rgb(4, 11, 20);
  background-blend-mode: darken;
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
}

.sidebar ul {
  overflow: hidden;
  display: flex;
  padding-left: 45px;
  align-items: center;
  align-content: center;
}

.sidebar img {
  height: 44px;
  width: 44px;
  margin: 12px 0px 12px 12px;
  background-color: white;
}

.sidebar li {
  overflow-y: hidden;
  text-align: center;
  list-style-type: none;
  margin: 7px 5px;
  
}


.sidebar li a {
  color: rgb(138, 191, 226);
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 14px;
  margin: 7px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.sidebar li a:hover {
  color: white;
}

.fa-brands {
  padding: 7px;
  
  border-radius: 22px;
  background-color: black;
  font-size: 22px;
  margin: 3px;
  transition: all 1s;
}

.fa-brands:hover {
  background-color: rgb(182, 236, 255);
  color: white;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.profile img {
  height: 35px;
  width: 35px;
  margin-right: 14px;
  padding: 3px;
  transition: all 2s;
  border-radius: 44px;
  background-color: rgb(138, 191, 226);
  
}

.profile img:hover {
  cursor: pointer;
}

.profile p {
  color: white;
  font-size: 22px;
}


/**************************************Navbar Ended/**************************************/

/**************************************Home Started/**************************************/
.background {
  background: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: darken;
  box-sizing: border-box;
  background-image: url(bg_img.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 2px solid aqua;
  
}
.background2{
  background-color: rgb(173, 192, 208);
}

.devinfo {
  float: left;
  justify-content: center;
  justify-items: center;
  color: white;
  margin: 79px 52px 24px 87px;
  font-size: 81px;
  padding-top: 191px;
  padding-left: 75px;
}

.name {
  font-family: 'Pacifico', cursive;
  color: aqua;
}

.passion {
  font-size: 30px;
  padding-left: 16px;
  font-family: fangsong;
  
}

/**************************************Home Ended/**************************************/

/**************************************About Started/**************************************/
#about {
  background-color: rgb(238 238 238);
  width: 98%;
  border: 2px solid aqua;
  overflow: hidden;
  /* margin: 0px 12px; */
}
#heading {
  text-align: center;
  font-size: 43px;
  font-family: cursive;
  margin: 49px 30px;
  margin-bottom: -2px;
  color: aqua;
}
.about .about-container{
  display: flex;
  width: 80%;
  flex-direction: row-reverse;
  margin: 0px 62px;
  justify-content: space-around;
  padding: 12px 22px;
  /* background-color: aliceblue; */
  /* background-color: #c8e9f7;
  animation-name: color;
  animation-duration: 12s;
  animation-timing-function: ease-in-out; */
}
/* 
@keyframes color {
 0% { 
  background-color: #c8e9f7;
  border-radius: 100%;
  
 } 
 5% { 
   background-color: #c8d5dc;
   border-radius: 98%;
  
 } 
 10% { 
   background-color: #bfd5e0;
   border-radius: 95%;
  
   
 } 
 15% { 
   background-color: #a8cde0;
   border-radius: 90%;
   
  
 }  
 20% { 
   background-color: #92c1d9;
   border-radius: 88%;
  
 } 
 25% { 
   background-color: #7ab2ce;
   border-radius: 86%;
 
 } 
 30%{
  background-color: #77ddd0fa;
  border-radius: 84%;

 }
 35%{
   background-color: #499fca;
  }
  40%{
    background-color: #2e98cd;
  }
  45%{
   border-radius: 80%;
  background-color: rgb(6, 217, 172);
 }
 50%{
  background-color: rgb(37, 220, 180);
 }
 55%{
  background-color: rgb(68, 213, 182);
 }
 60%{
  background-color: rgb(103, 213, 189);
  border-radius: 84%;
}
 65%{
  border-radius: 86%;
  background-color: rgb(124, 209, 191);
 }
 75%{
  border-radius: 88%;
  background-color: rgb(146, 203, 191);
 }
 80%{
  border-radius: 90%;
  background-color: rgb(183, 211, 191);
 }
 85%{
  border-radius: 92%;
  background-color: rgb(184, 207, 186);
 }
 90%{
  border-radius: 94%;
  background-color: rgb(136, 211, 133);
 }
  95%{
    border-radius: 96%;
  }
  100%{
    border-radius: 100%;
  }
} 

 */
.about .about-container .about-sub-container:nth-child(1){
  width: 50%;
  margin: auto;
  margin: 20px 20px;
  /* background-color: #149ddd; */
 }

.about .about-container .about-sub-container:nth-child(2){
  width: 42%;
  /* height: 100%; */
  margin: 3px 22px;
  /* background-color: #333; */
}


.about .about-container .about-sub-container .about-para{
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bolder;
  padding: 0px 13px;
  margin: 80px 22px;
  margin-bottom: 23px;
  word-spacing: 3px;
  /* letter-spacing: 2px; */
  font-family: cursive;
}

.about .about-container .about-sub-container img{
  /* width: 100%; */
  width: 482px;
}
.btn-sm{
  border: 2px solid cadetblue;
  cursor: pointer;
  padding: 6px 16px;
  border-radius: 12ch 12ch 12ch 12ch / 12ch 12ch 12ch 12ch;
  text-align: center;
  float: left;
  font-size: 18px;
  margin: 4px 22px;
  color: black;
  background-color: rgb(138, 191, 226);
}
.btn-sm:hover {
  background-color: black;
  border: 2px solid green;
  color: rgb(138, 191, 226);
}

/**************************************About Ended/**************************************/
/**************************************Skills Started/**************************************/
.skills-page {
  
  padding: 12px;
  /* height: 100%; */
  
  width: 100%;
  overflow: hidden;
  /* background-color: white; */
}

.skills-page h2 {
  overflow: hidden;
  font-size: 60px;
  margin-top: 66px;
  text-align: center;
  margin-right: 16em;
  margin-bottom: 12px;
  font-weight: 900;
  font-family: cursive;
  color: aqua;
}

.skills-page p {
  margin: 11px 273px 19px 118px;
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 25px;
  word-spacing: 8px;
}

.row-skills{
  display: flex;
  width: 100%;
  padding: 37px;
  font-size: 27px;
  /* margin-left: 36px; */
}
 .skills-item{
  text-align: left;
  color: #ed89aa;
 }


.row-skills .subrow1 {
  width: 50%;
  padding: 12px;
  padding-left: 35px;
}

.row-skills .subrow2 {
  width: 50%;
}

.skill {
  display: block;
}

.skill-graph {
  background: grey;
  width: 35vw;
}

.skill-bar {
  height: 6px;
  width: 265px;
  border: 2px solid black;
  /* background-color: #149ddd; */
}

.skill {
  padding: 12px 0px;
}

.hundrade {
  width: 35vw;
}

.ninety-five {
  background-color: tomato;
  width: 30vw;
}

.eighty-five {
  width: 27vw;
  background-color: orange;
}

.seventy-five {
  width: 23vw;
  background-color: rgba(44, 44, 229, 0.694);
}

.sixty-five {
  width: 18vw;
  background-color: yellow;
}

.fifty-five {
  width: 12vw;
}

.thirty-five {
  width: 9vw;
}

/**************************************Skills Ended/**************************************/

/**************************************Portfolio Started/**************************************/
#portfolio {
  background-color: rgb(238 238 238);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  /* background-color: aliceblue; */
  color: aqua;
  height: 100%;
  border: 2px solid aqua;

  align-items: center;
  padding: 64px 0px 39px 0px;
  
}

.portfolio h1 {
  /* text-decoration: underline rgb(166, 255, 0); */
  padding: 81px 2px 38px 12px;
  font-family: monospace;
  font-size: 51px;
  margin: 0pc 3pc;
  
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
}

.gallary img {
  width: 30%;
  border-radius: 12%;
  border: 7px solid aqua;
  height: 240px;
  margin: 25px;
}



/**************************************Contact Started/**************************************/
#contact {
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(contact_bg_img.jpg);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-size: cover;
  background-attachment: fixed;
}
.contact-content {
  max-width: 800px;
  text-align: center;
}

.contact-content h2 {
  overflow: hidden;
  font-size: 36px;
  font-weight: 500;
  color: aqua;
}

.contact-content p {
  font-family: cursive;
  font-weight: 300;
  padding: 12px 0;
  color: #fff;
}

.contact-container a {
  text-decoration: none;
  color: white;
}

.contact-container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact-container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: rgb(182, 236, 255);
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  transition: all 1s;
}

.contact-container .contactInfo .box .icon:hover {
  
  color: rgb(182, 236, 255);
  background-color: black;
  
}

.contact-text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  flex-direction: column;
  font-weight: 300;
  
}

.contact-container .contactInfo .box .contact-text h3 {
  overflow: hidden;
  font-weight: 500;
  color: rgb(182, 236, 255);
}

.contactForm {
  /* width: 40%; */
  padding: 40px;
  font-family: 'Times New Roman', Times, serif;
  background: #fff;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  overflow: hidden;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;

}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: rgb(182, 236, 255);
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: all 2s ease-in-out;
}

.contactForm .inputBox input[type="submit"]:hover {
  background-color: black;
  color: rgb(182, 236, 255);
  
}
.margin{
  margin-top: 22px;
}


/**************************************Contact Ended/**************************************/


@media only screen and (max-width: 991px) {
  /*navbar started*/
  
  .nav {
    width: 84vw;
  }
  
  .profile {
    padding-left: 45px;
  }
  
  .profile p {
    font-size: 0px;
  }
  
  .sidebar li a {
    font-size: 17px;
    padding: 6px 9px;
  }
  
  /*navbar ended*/
  /*home started*/
  .devinfo {
    margin: 0;
    /* padding-top: 31pc; */
    padding-left: 117px;
  }

  .background {
    height: 83vh;
    overflow: hidden;
  }
  
  /*home ended*/
  
  /*about started*/
  .about .about-container .about-sub-container img{
    margin: 12px -33px;
  }
  .about .about-container {
    width: 100%;
    
    margin: 0;
  }
  /*about ended*/
  
  /*skills started*/
  
  .skills-page p{
    margin: 0px;
    overflow: hidden;
  }
  
  .seprater {
    margin: 11px 21px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .subrow2{
    width: 43vw;
    padding: 12px;
    padding-left: 35px;
  }
  .row-skills{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
.row-skills .subrow1{
  width: 100%;
}
.row-skills .subrow2{
  width: 100%;
}
.part1 {
    margin: 0px;
  }
  .ninety-five {
    width: 90%;
  }
  
  .eighty-five {
    width: 85%;
  }
  
  .seventy-five {
    width: 70%;
  }
  
  .sixty-five {
    width: 55%;
  }
  
  .fifty-five {
    width: 45%;
  }
  
  .thirty-five {
    width: 18vw;
  }
  
  .gallary img{
    width: 41%;
  }
  /*skills ended*/
  /*portfolio started*/
  #portfolio {
    /* height: 85vh; */
  }

  .portfolio h1 {
    padding-top: 0px;
    overflow: hidden;
  }

  /*portfolio ended*/
  .skill-graph {
    background: grey;
    width: 60vw;
  }
  .contact-container{
    margin: 0px;
    display: block;
    width: 100%;
    padding: 12px;
    display: blcok;
  }  
  
}

@media only screen and (max-width: 767px) {
  .responsive {
    width: 100%;
  }

  .about .about-container{
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }
  .about .about-container .about-sub-container img{
    /* margin: 12px 50px; */
  }
  .about .about-container .about-sub-container:nth-child(1){
    width: 100%;
  }
  .about .about-container .about-sub-container .about-para{
    margin: 0;
    margin-bottom: 22px;
    /* padding: 0 23px 0 0; */
  }
  .about .about-container .about-sub-container .about-para p{
    padding-right: 38px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.img1 {
  padding: 0px 12px;
}



@media only screen and (max-width: 479px) {
  .hamburger{
    background-color: black;
    position: fixed;
  }
  .hamburger button{

    
    color : aqua;
    /* position: fixed; */
    border: none;
    border-radius: 2%;
    background-color: rgba(0, 0, 0, 0.6);
    /* background: transparent; */
  }
  .hamburger button i{
    height: 44px;
    width: 44px;
    font-size: 33px;
    margin: 12px;
    /* padding: 12px; */
  }
  .sidebar{
  display: none;
 } 
  .sidebar ul {
    display: block;
    padding: 0;
}
.sidebar li{
  overflow-y: hidden;
  margin: 31px 70px;
  text-align: left;
}
.icon-style{
  margin-left: 69px;
}
  .profile img{
    display: none;
  }
 .devinfo {
    padding-left: 12px;
    margin-top: -37px;
}
  .background {
    height: 70vh;
  }
  
  .about .about-container {
  /* /* display: flex; */
  flex-direction: column-reverse; 
  padding: 0px;
  margin: 0;
  width: 200%;

   }
   .about .about-container .about-sub-container img{
    width: 140%;
    /* margin-right: -42px; */
   }
   .about .about-container .about-sub-container:nth-child(1){
    margin: 0;
    padding: 0;
    width: 100vw;
   }
   .about .about-container .about-sub-container .about-para{
    letter-spacing: 0;
    word-spacing: 0;
   }
   .about .about-container .about-sub-container .about-para p{
    padding: 0;
   }


    
   

   /* skills page started */
   
  .skills-page {
   /* height: 100vh;*/

  }
  .skills-page h2{
    padding: 12px 0px;
    margin: 0px;
  }
  .skills-page p{
    margin: 0px;
    font-size: 18px;
    text-align: left;
    word-spacing: 0px;
  }
  .seprater {
  /*   margin: 11px 21px;*/
    /*flex-direction: column;*/
    align-items: flex-start;
  }
  .row-skills{
    display: block;
    padding: 0;
    margin: 0;
  }
  .row-skills .subrow1, .subrow2{
    margin: 0;
    padding: 0;
  }
  .row-skills .subrow1{
    margin-bottom: 32px;
    margin-top: 32px;
    /* border-bottom-style: solid; */
  }
  
  .part1 {
    margin: 0px;
  }
  .skill-graph {
    background: grey;
    width: 76vw;
}
.ninety-five {
  width: 90%;
}

.eighty-five {
  width: 75%;
}

.seventy-five {
  width: 57%;
}

.sixty-five {
  width: 47%;
}

.fifty-five {
  width: 40%;
}

.thirty-five {
  width: 18vw;
}




  /* gallery */
  #portfolio{
    border: none;
  }
  .gallary img{
    border: none;
    width: 100%;
  }
 
  /* contact */
  #contact{
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .contact-content{
    display: none;
  }
  .contact-container{
    display: flex;
   /* margin-left: -63px; */
    flex-direction: column;
  }
  
.contact-container .contactInfo {
 /* flex-direction: row; */
 width: 100%;
 margin-left: 42px;

}
.contact-container .contactInfo .box .contact-text h3{
  text-align: left;
}
.contact-container .contactInfo .box .contact-text p{
  text-align: left;
}
  .contactForm{
    width: 70%;
  }

  
}
